@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none;
}

nav {
  background-color: #fa7268;
  text-align: center;
  padding: 2rem 0;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.1ch;
}

.wrapper {
  flex: 1;
  padding: 2rem 4rem;
  overflow-x: hidden;
}

.books-container {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bookcard {
  width: 300px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.bookcard p {
  margin: 0.5rem 0;
}

.read {
  display: inline;
}

button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: rgb(249, 250, 251);
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:focus-visible {
  box-shadow: none;
}

form {
  padding-top: 1rem;
}

input[type="checkbox"] {
  margin: 0 0.5rem;
}

input:not([type="checkbox"]) {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
}

footer {
  padding: 20px;
  color: white;
  margin-top: auto;
  text-align: center;
}
