/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navigation Styles */
nav {
  text-align: center;
  padding: 2rem 0;
  color: #41a0f4;
  font-size: 2rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 0.3rem;
}
.title {
  font-size: 36px;
  font-weight: 800;
  color: #41a0f4;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
  width: fit-content;
}
/* Wrapper Styles */
.wrapper {
  flex: 1;
  padding: 8rem 5rem;
  overflow-x: hidden;
}

/* Books Container Styles */
.books-container {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  width: fit-content;
}

/* Book Card Paragraph Styles */
.bookcard p {
  margin: 0.2rem 0;
  font-size: 14px;
  font-weight: 600;
}

/* Read Class Styles */
.read {
  display: inline;
}

/* Button Styles */
button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}
button.read {
  background-color: rgb(56, 148, 56);
  color: white;
}
button.read:hover {
  color: white;
  background-color: rgb(5, 119, 5); /* Darker green shadow color */
}

button.not-read {
  background-color: rgb(205, 102, 102);
  color: white;
}
button.not-read:hover {
  color: white;
  background-color: rgb(149, 33, 33); /* Darker red shadow color */
}
button:hover:not(.read, .not-read) {
  background-color: rgb(249, 250, 251);
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:focus-visible {
  box-shadow: none;
}

/* Form Styles */
form {
  display: flex;
  padding: 1em;
  flex-direction: column;
}

form h2 {
  text-align: center;
  color: #41a0f4;
}
input:not([type="file"]):focus {
  border: 1px solid #41a0f4;
  outline: none;
}

span.close {
  cursor: pointer;
  font-size: 2rem;
}

/* Read Check Styles */
.read-check {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Select Styles */
select#read {
  padding: 6px 12px;
  margin: 0.5rem 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Input Styles (excluding checkboxes) */
input:not([type="checkbox"]) {
  padding: 6px 12px;
  margin: 0.5rem 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
}

/* Footer Styles */
footer {
  padding: 20px;
  background: #41a0f4;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  color: white;
  margin-top: auto;
  text-align: center;
}

/* Book Card Styles */
.bookcard {
  position: relative;
  border-radius: 10px;
  border: whitesmoke 2px solid;
  width: 220px;
  height: 350px;
  transform-style: preserve-3d;
  perspective: 2000px;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  justify-content: center;
}
.bookcard h3 {
  max-width: 100%;
  text-align: center;
  padding: 0 2rem;
}

/* Cover Styles */
.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 98%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  display: flex;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  align-items: center;
  justify-content: center;
}

/* Book Card Hover Styles */
.bookcard:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-82deg);
}

/* Book Card Animation Styles for JS */
.bookcard.animate .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-82deg);
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #888;
  width: 400px;
}

/* Default Image Styles */
.default-image {
  background-color: white;
  object-fit: scale-down;
}

.default-image img {
  width: 40px;
  height: 40px;
}

/* Media Queries */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .books-container {
    justify-items: center;
  }
}

@media only screen and (max-width: 768px) {
  /* Styles for screens up to 768px */
  .wrapper {
    padding: 4rem 2rem;
  }

  .books-container {
    justify-content: center;
  }

  .bookcard {
    width: 180px;
    height: 280px;
  }
}

@media only screen and (max-width: 480px) {
  /* Styles for screens up to 480px */
  .title {
    font-size: 24px;
  }

  .wrapper {
    padding: 2rem 1rem;
  }

  .books-container {
    justify-content: center;
  }

  .bookcard {
    width: 160px;
    height: 260px;
  }
  .bookcard p {
    font-size: 13px;
  }

  .modal-content {
    width: 90%;
    max-width: 300px;
  }
}
